@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

html {
    height: 100%;
}

body {
    background-color: #222426;
    color: #f7f7f7;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    flex: 1;
    display: flex;
}

input {
    background-color: transparent;
    width: 30%;
    color: inherit;
    border: none;
    border-bottom: solid 1px #505050;
    padding: 0.8rem 1rem;
    margin: auto;
}

input:focus {
    outline: none;
}

.output {
    color: #ff6200;
    font-size: 1.2rem;
    text-align: center;
    flex: 1;
}

.sha {
    width: 100%;
    color: rgba(255, 98, 0, 0.7);
    text-align: left;
    margin: auto;
    margin-bottom: 1rem;
}

.hash {
    width: 86%;
    color: #ff6200;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px;
    opacity: 1;
    display: inline-block;
    transition: opacity 0.2s ease-out;
}

.output:hover .hash {
    opacity: 0.6
}

.sha:hover > .hash:hover {
    cursor: pointer;
    opacity: 1;
}

.hash::selection {
    background-color: transparent;
}

