@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #252525;
    color: white;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: hidden;
}

.profile-picture {
    width: 8rem;
    height: 8rem;
    border-radius: 4px;
    margin-right: 2rem;
}

.left-container {
    flex: 1.5;
}

.right-container {
    flex: 2;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px lime; */
}

.container {
    width: 50%;
}

.right-container .container {
    width: 60%;
}

.image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name {
    font-size: 26px;
    padding-bottom: 32px;
}

.list {
    margin-top: 32px;
}

.list-item {
    font-size: 18px;
    margin: 12px 0;
}

.command-line {
    background-color: #353535ee;
    font-family: "Roboto Mono", sans-serif;
    font-size: 15px;
    padding: 16px 24px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
}

svg {
    color: gold;
    width: 22px;
    height: 22px;
}

.command-line-content {
    color: #b8b8b8;
    margin-left: 26px;
}
