@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

html {
    height: 100%;
}

body {
    background-color: #222426;
    color: #efeffa;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    position: relative;
    display: flex;
    align-items: stretch;
}

a, a:visited, a:active, a:hover, a:link {
    color: #ff6200;
}

h3 {
    font-family: "Nunito", sans-serif;
}

img {
    width: 8rem;
    height: 8rem;
    border-radius: 4px;
    margin-right: 2rem;
    vertical-align: bottom;
}

hr {
    background-color: #ff6200;
    width: 3rem;
    height: 1px;
    margin-left: 0px;
    margin-bottom: 2rem;
}

code {
    background-color: #353535;
    color: #f7f7f7;
    border-radius: 4px;
    padding: 0.5rem 1rem;;
    margin: 1rem;
    display: block;
}

code::selection {
    background-color: white;
    color: #353535;
}

span.bash {
    color: #ff6200;
}

.left {
    font-family: "Nunito", sans-serif;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: none;
}

.profile {
    margin-left: 25%;
    display: inline-block;
}

.name {
    font-size: 1.6rem;
    margin-bottom: 5%;
    display: inline-block;
}

ul.list-group, li.list-group-item {
    background-color: transparent;
    color: inherit;
    text-align: left;
    border: none;
    padding: 0px;
}

ul.list-group {
    margin-left: 25%;
    margin-top: 3rem;
    display: inline-block;
}

li.list-group-item {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.right {
    background-color: #242729;
    word-wrap: break-word;
    padding: 7rem 4rem;
    flex: 5;
    overflow-y: auto;
}

.right::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}

